*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::placeholder {
  color: #234D79;
}

input {
  border: none;
  outline: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 10px;
  display: flex;
  align-items: center;
  background: radial-gradient(40% 100% at center,#3083C9, #3083C9, #46EEB1);
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.section-title {
  font-size: 27px;
  text-align: center;
  text-transform: capitalize;
}

.calc {
  max-width: 340px;
  width: 100%;
}

.input-box {
  border: 1px solid #444;
  display: flex;
  flex-direction: column;
  background-color: #7E9DDA;
  box-shadow: inset 0 0 10px #8bc8f3;
}

.input-box > * {
  padding: 0 4px;
  background-color: transparent;
  text-align: right;
}

.input-box > *:first-child {
  color: #861d15;
  font-size: 50px;
}

.input-box > *:last-child {
  color: rgba(35, 77, 121, .3);
  font-size: 32px;
}

.operator-box {
  display: flex;
  flex-wrap: wrap;
}

.operator-box > * {
  padding: 15px;
  border: 1px solid #8C8C8C;
  background-color: #999696;
  cursor: pointer;
  flex: 1 0 20%;
  font-size: 28px;
  transition: all .3s;
}

.operator-box > *:hover { background-color: #535151; }

.number-box {
  display: flex;
  flex-wrap: wrap;
}

.number-box > * {
  padding: 15px;
  border: 1px solid #afabab;
  background-color: #B9B9B9;
  cursor: pointer;
  flex: 1 0 33%;
  font-size: 28px;
  transition: all .3s;
}

.number-box > *:hover {
  background-color: #ccc;
}

.inactive {
  pointer-events: none;
}